<header class="main">
  <div class="inr">
    <div class="lt-cont">
      <ul class="menu">
        <a href="/">
          <li>Store</li>
        </a>
      </ul>
    </div>
    <div class="rt-cont">
      <ul class="menu">
        <li>
          <aside>
            <%= form_tag store_index_path, class: 'locale' do %>
              <%=
                  select_tag 'set_locale',
                  options_for_select(LANGUAGES, I18n.locale.to_s),
                  onchange: 'this.form.submit()'
                %>
              <%= submit_tag 'submit', id: "submit_locale_change", style: "display:none;" %>
            <% end %>
          </aside>
        </li>
        <% if session[:user_id] && User.find_by(id: session[:user_id]) %>
          <%= link_to admin_path, class: 'icon-only' do %>
            <li><span style="font-size:24px;">🪙</span></li>
          <% end %>
          <%= link_to products_path, class: 'icon-only' do %>
            <li><span style="font-size:24px;">🔖</span></li>
          <% end %>
          <%= link_to orders_path, class: 'icon-only' do %>
            <li><span style="font-size:24px;">📦</span></li>
          <% end %>
          <%= link_to users_path, class: 'icon-only' do %>
            <li><span style="font-size:24px;">🧙🏻</span></li>
          <% end %>
          <%= link_to carts_path, class: 'icon-only' do %>
            <li><span style="font-size:24px;">🛍️</span></li>
          <% end %>
          <%= link_to logout_path, { method: :delete, class: 'icon-only active' } do %>
            <li><span style="font-size:24px;">➡️</span></li>
          <% end %>
        <% else %>
          <%= link_to login_path do %>
            <li>Login</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
