<header class="main">
  <div class="inr">
    <div class="lt-cont">
      <ul class="menu">
        <a href="/">
          <li>Store</li>
        </a>
      </ul>
    </div>
    <div class="rt-cont">
      <ul class="menu">
        <li>
          <aside>
            <%= form_tag store_index_path, class: 'locale' do %>
              <%=
                  select_tag 'set_locale',
                  options_for_select(LANGUAGES, I18n.locale.to_s),
                  onchange: 'this.form.submit()'
                %>
              <%= submit_tag 'submit', id: "submit_locale_change", style: "display:none;" %>
            <% end %>
          </aside>
        </li>
        <% if user_signed_in? %>
          <%= link_to admin_path, class: 'icon-only' do %>
            <li><span style="font-size:24px;">🪙</span></li>
          <% end %>
          <div class="user_icon">
            <div>
              <p><%= current_user.name[0].chr.upcase %></p>
            </div>
            <div class="user_menu">
              <div class="p">
                <%= link_to edit_user_registration_path do %>
                  <p>Settings</p>
                <% end %>
                <%= link_to orders_path do %>
                  <p>Orders</p>
                <% end %>
                <p class="mb8">Products</p>
                <%= button_to destroy_user_session_path, method: :delete, class: 'hellofresh small red', style: 'width:100%;border-radius:0;line-height:2em;' do %>
                  Logout
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <%= link_to new_user_session_path do %>
            <li>Login</li>
          <% end %>
          <%= link_to new_user_registration_path do %>
            <li>Sign up</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</header>
