<ul class="all">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li class="a">
          <%= image_tag(product.image_url) %>
          <div class="title"><%= product.title %></div>
          <%= sanitize(product.description) %>
          <div class="price mt24">
            <div class="lt actual">
              <%= number_to_currency(product.price, locale: :de) %>
            </div>
            <div class="rt">
              <ul>
                <%=
                  link_to "Show",
                  product,
                  {
                    class: "hellofresh small red rd4 hover-shadow"
                  }
                %>
                <%= link_to edit_product_path(product) do %>
                  <li>Edit</li>
                <% end %>
                <%=
                  button_to "Delete",
                  product,
                  {
                    method: :delete,
                    data: {
                      confirm: 'Are you sure?'
                    },
                    class: "hellofresh rd4 small red hover-shadow"
                  }
                %>
              </ul>
            </div>
            <div class="cl"></div>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New product", new_product_path %>