<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <div class="lt">
            <%= image_tag(product.image_url) %>
          </div>
          <div class="inr rt">
            <div class="title"><%= product.title %></div>
            <div class="desc"><%= sanitize(product.description) %></div>
            <div class="price mt24">
              <div class="lt actual">
                <%= number_to_currency(product.price) %>
              </div>
              <div class="rt">
                <%=

                  button_to t('.add_html'),
                  line_items_path(
                    product_id: product,
                    locale: I18n.locale
                  ),
                  {
                    class: 'hellofresh big rd4 green hover-shadow',
                    remote: true
                  }

                %>
              </div>
              <div class="cl"></div>
            </div>
          </div>
          <div class="cl"></div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
