<h1>Your Pragmatic Catalog</h1>
<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= image_tag(product.image_url) %>
          <div class="title"><%= product.title %></div>
          <%= sanitize(product.description) %>
          <div class="price mt24">
            <div class="lt actual">
              <%= number_to_currency(product.price, locale: :de) %>
            </div>
            <div class="rt">
              <%= 

                button_to 'Add to Cart', 
                line_items_path(product_id: product), 
                {
                  class: 'hellofresh small rd4 red hover-shadow'
                }
                
              %>
            </div>
            <div class="cl"></div>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
