<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>
<%= javascript_pack_tag 'locale_switcher', 'data-turbolinks-track': 'reload' %>
<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="main">
      <div class="inr">
        <div class="lt-cont">
          <ul class="menu">
            <a href="/">
              <li><span class="material-icons md-24">storefront</span></li>
            </a>
            <%= link_to products_path do %>
              <li><span class="material-icons md-24">inventory_2</span></li>
            <% end %>
          </ul>
        </div>
        <div class="rt-cont">
          <ul class="menu">
            <li>
              <aside>
              <%= form_tag store_index_path, class: 'locale' do %>
                <%=
                  select_tag 'set_locale',
                  options_for_select(LANGUAGES, I18n.locale.to_s),
                  onchange: 'this.form.submit()'
                %>
                <%= submit_tag 'submit', id: "submit_locale_change", class: "disn" %>
              <% end %>
              </aside>
            </li>
            <% if session[:user_id] %>
              <%= link_to orders_path do %>
                <li><span class="material-icons md-24">fact_check</span></li>
              <% end %>
              <%= link_to users_path do %>
                <li><span class="material-icons md-24">face</span></li>
              <% end %>
              <%= link_to carts_path do %>
                <li><span class="material-icons md-24">shopping_bag</span></li>
              <% end %>
              <%= link_to logout_path, { method: :delete } do %>
                <li><span class="material-icons md-24">logout</span></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <% if notice %>
      <div id="notifier" class="notifier">
        <div class="inr">
          <p><%= notice %></p>
        </div>
      </div>
    <% end %>
    <flex-layout>
      <nav class="side_nav">
        <% if @cart %>
          <div id="cart" class="carts">
            <%= render_if @cart && @cart.line_items.any?, @cart %>
          </div>
        <% end %>
      </nav>
      <div class="content">
        <main class='<%= controller.controller_name %>'>
          <%= yield %>
        </main>
      </div>
    </flex-layout>
  </body>
</html>
