<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title + " - " + controller_name.capitalize %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <%= javascript_pack_tag 'locale_switcher', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice %>
      <div id="notifier" class="notifier">
        <div class="inr">
          <div class="controller">
            <p><i class="<%= controller_name %> material-icons md-24"></i></p>
            <p><%= controller_name.capitalize %></p>
          </div>
          <div class="message"><%= notice %></div>
        </div>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div id="notifier" class="notifier">
        <div class="inr">
          <div class="controller">
            <p><i class="<%= controller_name %> material-icons md-24"></i></p>
            <p><%= controller_name.capitalize %></p>
          </div>
          <div class="message"><%= flash[:alert] %></div>
        </div>
      </div>
    <% end %>
    <%= render 'shared/header' %>
    <%= render 'shared/sidebar_wrapper' %>
    <div class="content">
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </div>
    <div class="cl"></div>
  </body>
</html>
