<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="main">
      <div class="inr">
        <div class="lt-cont">
          <ul class="menu">
            <a href="/">
              <li><span class="material-icons md-24">storefront</span></li>
            </a>
          </ul>
        </div>
        <div class="rt-cont">
          <ul class="menu">
            <a href="/products">
              <li><span class="material-icons md-24">inventory_2</span></li>
            </a>
            <a href="/">
              <li><span class="material-icons md-24">shopping_bag</span></li>
            </a>
          </ul>
        </div>
      </div>
    </header>
    <% if notice %>
      <div id="notifier" class="notifier">
        <div class="inr">
          <p><%= notice %></p>
        </div>
      </div>
    <% end %>
    <nav class="side_nav">
      <% if @cart %>
        <div id="cart" class="carts">
          <%= render_if @cart && @cart.line_items.any?, @cart %>
        </div>
      <% end %>
      <div style="color:white;font-weight:600;text-align:center;padding:24px 0;">
        <%= "#{Time.now.hour}" + ":" + "#{Time.now.min}" %>
      </div>
    </nav>
    <div class="content">
      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
